//For regular
@font-face {
  font-family: "Duke";
  src: url("../assets/fonts/Duke\ Fill.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

//For bold
@font-face {
  font-family: "Duke";
  src: url("../assets/fonts/Duke\ Fill.otf");
  font-weight: 700;
  font-style: normal;
}
