@use "../../styles/converstions" as *;

.maincontent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;

  background: #fff7f7;

  &__card {
    width: 100%;
    flex-basis: 50%;

    //border: 2px solid orange;
    margin: 2rem;
  }

  &__title {
    width: 100%;
    align-items: center;
    text-align: center;
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    //border: 2px solid orange;
  }
}

div.maincontent__left--videoplayer {
  iframe {
    width: 664px;
    height: 400px;
  }
}

div.maincontent__right {
  .chatGPT {
    width: 488px;
    height: 400px;
    background-color: #fff;
    padding: 2rem;
    overflow: auto;
  }
}
