@use "../../styles/converstions" as *;

@use "../../styles/fonts" as *;

.maincontent {
  font-family: "Duke";
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;

  background: url("../../assets/images/apex-section-bg-homepage-news-xl.jpg.adapt.1920w.jpg");

  &__card {
    width: 100%;
    flex-basis: 50%;

    //border: 2px solid orange;
    margin: 2rem;
  }

  &__title {
    width: 100%;
    align-items: center;
    text-align: center;
    font-size: 96px;
    margin-bottom: 0;
    height: 1rem;
    line-height: 10.5rem;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    //border: 2px solid orange;
  }
}

div.maincontent__left--videoplayer {
  border: solid thin black;
  iframe {
    width: 664px;
    height: 400px;
  }
}

div.maincontent__right {
  .chatGPT {
    width: 488px;
    height: 400px;
    background-color: #fff;
    padding: 2rem;
    overflow: auto;
    font-weight: 400;
    border: solid thin black;
    font-family: "Open sans";
  }

  &--icons {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
}

#something {
  margin-left: 680px;
  font-size: 48px;
}

.transcript-text {
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: lightgray;

  &.blue {
    background-color: lightblue;
  }
}
